.takeNotesPageContainer {
  min-height: 100vh;
  background-color: rgb(3, 25, 59);
}

.takeNotesPage {
  display: flex;

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @media only screen and (max-width: 425px) {
      margin: 0;
      width: 100%;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-self: flex-start;
      margin: 2rem 0 1rem 0;
      width: 100%;

      @media only screen and (max-width: 425px) {
        margin: 1rem 0;
      }

      label {
        color: white;
        font-family: "Carter One", cursive;
        font-size: 1.7rem;
        font-style: italic;
        font-weight: lighter;
        margin-right: 1.5rem;
        cursor: pointer;

        @media only screen and (max-width: 425px) {
          font-size: 1.5rem;
        }
      }

      input {
        width: 100%;
        background: transparent;
        border: 0;
        color: white;
        font-family: "Carter One", cursive;
        font-size: 2rem;

        @media only screen and (max-width: 425px) {
          font-size: 1.5rem;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &__sub {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;

      @media only screen and (max-width: 425px) {
        flex-direction: column;
      }

      &--date {
        color: white;
        font-family: "Carter One", cursive;
        font-size: 1.7rem;
        font-style: italic;

        @media only screen and (max-width: 425px) {
          font-size: 1.5rem;
          align-self: flex-start;
        }

        span {
          margin-left: 1rem;
          font-style: normal;

          @media only screen and (max-width: 425px) {
            font-size: 1.3rem;
          }
        }
      }

      &--buttons {
        display: flex;
        justify-content: space-between;
        flex: 0 0 16%;
        align-self: flex-end;

        @media only screen and (max-width: 425px) {
          align-self: flex-end;
          margin-right: 1rem;
        }

        &--1 {
          background-color: rgb(219, 11, 11);
          padding: 0.5rem 1rem;
          border: 0;
          border-radius: 4px;
          cursor: pointer;
          color: white;
          font-family: "Carter One", cursive;
          font-size: 1.7rem;

          @media only screen and (max-width: 425px) {
            font-size: 1.2rem;
            margin-right: 0.5rem;
          }

          &:hover {
            background-color: rgb(197, 37, 37);
          }

          &:active {
            transform: scale(0.98);
            outline: none;
          }
        }

        &--2 {
          background-color: rgb(26, 71, 139);
          padding: 0.5rem 1rem;
          border: 0;
          border-radius: 4px;
          cursor: pointer;
          color: white;
          font-family: "Carter One", cursive;
          font-size: 1.7rem;

          @media only screen and (max-width: 425px) {
            font-size: 1.2rem;
          }

          &:hover {
            background-color: rgb(26, 76, 151);
          }

          &:active {
            transform: scale(0.98);
            outline: none;
          }
        }
      }
    }

    textarea {
      height: 80%;
      width: 65vw;
      border-radius: 0.5rem;
      resize: none;
      font-size: 1.8rem;
      padding: 1.5rem;
      font-family: "Antic", sans-serif;
      font-style: italic;
      font-weight: 800;
      line-height: 2.5rem;

      &:focus {
        box-shadow: 0 0 15px rgb(26, 71, 139);
        outline: none;
      }

      @media only screen and (max-width: 600px) {
        width: 80vw;
      }

      @media only screen and (max-width: 425px) {
        margin-right: 1rem;
        width: 96%;
        font-size: 1.5rem;
      }
    }
  }
}

.toggleSidebarBtn {
  background-color: rgb(3, 25, 59);
  height: calc(100vh - 8rem);
  margin-left: 1rem;

  svg {
    fill: white;
    margin: 0.5rem;
    width: 3.2rem;
    height: 3.2rem;

    &:active {
      transform: scale(0.98);
    }
  }
}
