.sideBarNote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem 1.5rem 3rem;
  background-color: rgb(26, 71, 139);
  padding: 1rem;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;

  &__left {
    display: flex;
    align-items: center;
    width: 80%;

    svg {
      fill: white;
      margin-right: 1.5rem;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 200;
    font-family: "Carter One", cursive;
  }

  &__date {
    font-size: 1rem;
    font-family: "Antic", sans-serif;
    color: rgb(197, 194, 194);
  }

  &:hover,
  &:active {
    transform: translateX(-0.5rem);
  }
}
