.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(26, 71, 139);
  padding: 1.5rem;

  &__content {
    display: flex;
    flex-direction: row;
  }

  &__svg {
    width: 5rem;
    height: 5rem;
    fill: white;
  }

  &__title {
    color: white;
    margin-left: 0.5rem;
    font-size: 3rem;
    font-family: "Carter One", cursive;
  }
}
