.sideBar {
  background-color: rgb(1, 14, 36);
  height: calc(100vh - 8rem);
  max-height: calc(100vh - 8rem);
  overflow-y: auto;
  overflow-x: hidden;
  flex: 0 0 30%;
  padding: 2rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__backBtn {
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 1.5rem;
    fill: white;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
