.notesPageContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 24, 48);
  min-height: 100vh;
}

.notesPage {
  height: 100%;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5rem;

    @media only screen and (max-width: 425px) {
      margin: 0 2rem;
    }
  }

  &__backBtn {
    cursor: pointer;
    fill: white;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__addBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;

    svg {
      fill: white;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
    }

    p {
      color: white;
      transition: all 0.2s;
      font-family: "Carter One", cursive;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-family: "Carter One", cursive;
    margin: 2rem 0;

    @media only screen and (max-width: 425px) {
      font-size: 3rem;
    }
  }

  &__note {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.noNotes {
  color: white;
  opacity: 60%;
  font-size: 2rem;
  font-family: "Carter One", cursive;
}

.takeNotesBtn {
  margin-top: 10rem;
}

.notesPageNoteContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  &__svg {
    cursor: pointer;
    fill: white;
    height: 3rem;
    width: 3rem;
    margin-left: 2rem;
    transition: all 0.2s;

    &:hover,
    &:active {
      transform: translateY(-0.5rem);
      fill: rgb(219, 11, 11);
    }
  }

  &__note {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 2rem;
  }
}
