.notesPageContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 24, 48);
  min-height: 100vh;
}

.notesPage {
  height: 100%;
  position: relative;

  &__backBtn {
    cursor: pointer;
    position: absolute;
    left: 4.5rem;
    top: 3.2rem;
    fill: white;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-family: "Carter One", cursive;
    margin: 2rem 0;
  }

  &__note {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.noNotes {
  color: white;
  opacity: 30%;
  font-size: 2rem;
  font-family: "Carter One", cursive;
}
